@model streaming_service.Models.Admin.AddDirectorsToMovie

<h2>Add director</h2>

<form asp-action="AddDirectorsToMovie" asp-controller="Admin" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
 
        <select aclass="custom-select" id="inputGroupSelect01" style="margin-top: 10px" asp-for="@Model!.idOfSelectedDirectors">
            <option selected>app</option>
            @foreach (var app in Model.Directors)
            {
                <option value="@app.DirectorId">@app.DirectorName  @app.DirectorSurname </option>
            }
        </select>
       
        <div style="margin-top: 10px">
            <input type="submit" value="submit"/>
        </div>

    </div>
</form>
<form asp-action="AddActorsToMovie" asp-controller="Admin" asp-route-movie_id=@Model.m_id asp-anti-forgery="true" method="get">
    <div style="margin-top: 10px">
        <input type="submit" value="Add actors"/>
    </div>
</form>