@{
    ViewData["Title"] = "Profile";
}

@model AdminProfileModel

<form asp-action="Profile" asp-controller="Admin" asp-anti-forgery="true">

    <div style="display: flex; flex-direction: row">
        <h3>Hello @Model?.Login</h3>
    </div>

</form>
<form asp-action="AddActor" asp-controller="Admin" asp-anti-forgery="true" method="get">
    <div style="margin-top: 10px">
        <input type="submit" value="Add actor"/>
    </div>
</form>

<form asp-action="AddMovie" asp-controller="Admin" asp-anti-forgery="true" method="get">
    <div style="margin-top: 10px">
        <input type="submit" value="Add movie"/>
    </div>
</form>
<form asp-action="AddDirector" asp-controller="Admin" asp-anti-forgery="true" method="get">
    <div style="margin-top: 10px">
        <input type="submit" value="Add director"/>
    </div>
</form>

<form asp-action="ReviewsList" asp-controller="Admin" asp-anti-forgery="true" method="get">
    <div style="margin-top: 10px">
        <input type="submit" value="Offers"/>
    </div>
</form>

<form asp-action="Logs" asp-controller="Admin" asp-anti-forgery="true" method="get">
    <div style="margin-top: 10px">
        <input type="submit" value="Logs"/>
    </div>
</form>

<form asp-action="AddModerator" asp-controller="Admin" asp-anti-forgery="true" method="get">
    <div style="margin-top: 10px">
        <input type="submit" value="Add Moder"/>
    </div>
</form>

<form asp-action="Clients" asp-controller="Admin" asp-anti-forgery="true" method="get">
    <div style="margin-top: 10px">
        <input type="submit" value="Clients"/>
    </div>
</form>