@model System.Collections.Generic.List<streaming_service.Director>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>directors</h2>

@foreach (var director in Model)
{
    <hr>
    <table class="table table-hover table-dark">
        <tbody>
        <tr>
            <th scope="row"> name</th>
            <td>@director.DirectorName.ToString()</td>
        </tr>
        <tr>
            <th scope="row">surname</th>
            <td>@director.DirectorSurname.ToString()</td>
        </tr>
        <tr>
            <th scope="row">gender</th>
            <td>@director.Gender</td>
        </tr>
        <tr>
            <th scope="row">date</th>
            <td>@director.DateOfBirth</td>
        </tr>


        </tbody>
    </table>
}